!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Be Vimmer"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") Be Vimmer
          .container.nav-collapse
            %ul.nav
              %li= link_to "Japanese", "/"
              %li= link_to "English", "/?lang=en"
              %li= link_to "Chinese", "/?lang=cn"

    .container

      .content
        .row
          .span9
            = yield
          .span3
            .well.sidebar-nav
              %h3 Links
              %ul.nav.nav-list
                %li.nav-header About Be Vimmer
                %li= link_to "Japanese", "http://d.hatena.ne.jp/JunichiIto/20120415/1334452212"
                %li= link_to "English", "http://junichiito.blogspot.jp/2012/04/released-be-vimmer-twitter-bot.html"
                %li.nav-header Twitter Bots
                %li= link_to "Japanese", "https://twitter.com/#!/be_vimmer_jp"
                %li= link_to "English", "https://twitter.com/#!/be_vimmer_en"
                %li= link_to "Chinese", "https://twitter.com/#!/be_vimmer_cn"
                %li.nav-header Vim Documentation
                %li= link_to "Japanese", "http://vim-jp.org/vimdoc-ja/vimindex.html"
                %li= link_to "English", "http://code.google.com/p/vim/source/browse/runtime/doc/index.txt"
                %li= link_to "Chinese", "http://sourceforge.net/projects/vimcdoc/files/vimcdoc/1.8.0/"
                %li.nav-header Source Code
                %li= link_to "github", "https://github.com/JunichiIto/be_vimmer"
                %li.nav-header Developer
                %li= link_to "@JunichiIto77", "https://twitter.com/#!/junichiito77"
    
      %footer
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

